<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="true"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true"
        >

    <testsuites>
        <testsuite name="Config">
            <directory>./tests/Config</directory>
        </testsuite>
        <testsuite name="Misc">
            <directory>./tests/Misc</directory>
        </testsuite>
        <testsuite name="OutputFormatters">
            <directory>./tests/OutputFormatters</directory>
        </testsuite>
        <testsuite name="Handlers">
            <directory>./tests/Handlers</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>

            <exclude>
                <directory suffix=".php">vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="coverage"/>
        <log type="coverage-text" target="php://stdout"/>
    </logging>
</phpunit>
